.header {
    position: relative;
    background-color: antiquewhite;
    height: 50px;
}

.footer {
    background-color: antiquewhite;
    height: 50px;
}

.sitemap {
    display: inline-block;
    width: 20%;
    background-color: lightyellow;
    height: 500px;
    position: relative;
    vertical-align: top;
}

.body {
    position: relative;
    display: inline-block;
    top: 0;
    width: 100%;
}

.content {
    display: inline-block;
    position: relative;
    background-color: aliceblue;
    width: 80%;
}

.pagetransition-enter {
    opacity: 0;
}

.pagetransition-enter.pagetransition-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

.pagetransition-leave {
    opacity: 1;
    transition: opacity 10ms ease-in;
}

.pagetransition-leave.pagetransition-leave-active {
    opacity: 0;
    transition: opacity 10ms ease-in;
}